__pycache__/
*.py[cod]
*.pyo
venv/
venv312/
.env/
.env
*.env
secrets.py
logdir/
*.pt
*.pth
outputs/
maram_groot_carla_frames*/
*.jsonl
*.csv
*.jpg
*.jpeg
*.png
*.zip
.vscode/
Thumbs.db
desktop.ini
.ipynb_checkpoints/